.page-section{
	padding: 1.2rem 0;


	@mixin atMedium{
			padding: 4.5rem 0rem;
	}



	&--blue{
		background-color: #2f5572;
		color: #fff;
	}

	&--testimonials{
		background-image: url("testimonials-bg.jpg");
		background-size: cover; 
	}
}
