.testimonial{
	background: rgba(200, 200, 200, .7);
	padding: 0 1.81rem 1px 1.81rem;
	margin-bottom: 98px;

	&__photo
{
	border-radius: 80px;
	overflow: hidden;
	width: 160px;
	height: 160px;
	margin: 0 auto -80px auto;
	position: relative;
	top: -80px; 
	border: 6px solid rgba(200, 200, 200, .7);
}
&__title{
	color: #2f5572;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0;
}
&__subtitle{
	text-align: center;
	font-size: .9375rem;
	font-weight: 400;

}
}